@{
    ViewData["Title"] = "Page accueil";
}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="Chansons.cshtml">Chansons <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="Chansons.cshtml">Chansons</a></li>
          <li><a href="Chanteurs.cshtml">Chanteurs</a></li>
          <li><a href="#">Albums</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Medias <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Movies</a></li>
          <li><a href="#">Series</a></li>
          <li><a href="#">Acteurs</a></li>
          <li><a href="#">Directeurs</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
  
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
</div>

</body>
</html>
